NODE_ENV=development
PORT=3333
APP_KEY=djsNF659VLxSXSrGK6DOsv3Z_3OcmZ8c
HOST=0.0.0.0
LOG_LEVEL=info

# Database Configuration
DB_HOST=YOUR_CONTAINER_NAME
DB_PORT=3306
DB_USER=adonis
DB_PASSWORD=rootpassword
DB_DATABASE=adonis
